$qribbon-width = 10px
$qribbon-negative-width = -($qribbon-width)
$qribbon-height = 0px

.qribbon__pseudo--before-after
  width $qribbon-width
  height $qribbon-height
  bottom $qribbon-negative-width
  border-top $qribbon-width solid var(--qribbon-leaf-color, black)
  display block
  position absolute
  content ""

.qribbon__pseudo--left
  @extend .qribbon__pseudo--before-after
  border-left $qribbon-width solid transparent
  left 0

.qribbon__pseudo--right
  @extend .qribbon__pseudo--before-after
  border-right $qribbon-width solid transparent
  right 0

.qribbon--left
  margin-left $qribbon-negative-width
  left 0

.qribbon--right
  margin-right $qribbon-negative-width
  right 0

.qribbon__default
  position absolute
  padding 5px 12px
  left 0
  background var(--qribbon-background-color, black)
  color var(--qribbon-text-color, white)
  z-index 100

  &.left
    @extend .qribbon--left

    &::before
      @extend .qribbon__pseudo--left

  &.right
    @extend .qribbon--right
    left inherit

    &::before
      @extend .qribbon__pseudo--right

  &.full
    @extend .qribbon--left, .qribbon--right

    &::before
      @extend .qribbon__pseudo--left

    &::after
      @extend .qribbon__pseudo--right
