$qribbon-width = 10px
$qribbon-negative-width = -($qribbon-width)
$qribbon-height = 0px

.qribbon__container
  display flex
  &.inline
    display inline-flex

.qribbon__container.right
  justify-content flex-end

.qribbon__pseudo--before-after
  width $qribbon-width
  height $qribbon-height
  bottom $qribbon-negative-width
  border-top $qribbon-width solid var(--qribbon-leaf-color, black)
  display block
  position absolute
  content ""

.qribbon__horizontal--left.leaf-bottom
  &::before
    @extend .qribbon__pseudo--before-after
    border-left $qribbon-width solid transparent
    left 0

.qribbon__horizontal--left.leaf-top
  &::before
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    top $qribbon-negative-width
    left 0

.qribbon__horizontal--right.leaf-bottom
  &::before
    @extend .qribbon__pseudo--before-after
    border-right $qribbon-width solid transparent
    right 0

.qribbon__horizontal--right.leaf-top
  &::before
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    top $qribbon-negative-width
    right 0

.qribbon__horizontal--left-full.leaf-bottom,
.qribbon__horizontal--right-full.leaf-bottom
  &::before
    @extend .qribbon__pseudo--before-after
    border-left $qribbon-width solid transparent
    left 0

  &::after
    @extend .qribbon__pseudo--before-after
    border-right $qribbon-width solid transparent
    right 0

.qribbon__horizontal--left-full.leaf-top,
.qribbon__horizontal--right-full.leaf-top
  &::before
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    top $qribbon-negative-width
    left 0

  &::after
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    top $qribbon-negative-width
    right 0

.qribbon__horizontal--left,
.qribbon__horizontal--right
  padding 5px 12px
  background var(--qribbon-background-color, black)
  color var(--qribbon-text-color, white)
  z-index 1
  position relative

.qribbon__horizontal--left
  left $qribbon-negative-width
  right inherit

.qribbon__horizontal--right
  margin-right $qribbon-negative-width

.qribbon__horizontal--left-full,
.qribbon__horizontal--right-full
  @extend .qribbon__horizontal--left, .qribbon__horizontal--right
  flex-grow 1
  margin-right $qribbon-negative-width*2

.qribbon__vertical--top-left.leaf-left,
.qribbon__vertical--top-right.leaf-left
  &::before
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    left $qribbon-negative-width
    top 0

.qribbon__vertical--top-left.leaf-right,
.qribbon__vertical--top-right.leaf-right
  &::before
    @extend .qribbon__pseudo--before-after
    border-top $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    right $qribbon-negative-width
    top 0

.qribbon__vertical--bottom-left.leaf-left,
.qribbon__vertical--bottom-right.leaf-left
  &::before
    @extend .qribbon__pseudo--before-after
    border-top none
    border-bottom $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    left $qribbon-negative-width
    bottom 0

.qribbon__vertical--bottom-left.leaf-right,
.qribbon__vertical--bottom-right.leaf-right
  &::before
    @extend .qribbon__pseudo--before-after
    border-top none
    border-bottom $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    right $qribbon-negative-width
    bottom 0

.qribbon__vertical--right-full.leaf-left
.qribbon__vertical--left-full.leaf-left
  &::before
    @extend .qribbon__pseudo--before-after
    border-top none
    border-bottom $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    left $qribbon-negative-width
    bottom 0

  &::after
    @extend .qribbon__pseudo--before-after
    border-bottom none
    border-top $qribbon-width solid transparent
    border-right $qribbon-width solid var(--qribbon-leaf-color, black)
    left $qribbon-negative-width
    top 0

.qribbon__vertical--right-full.leaf-right
.qribbon__vertical--left-full.leaf-right
  &::before
    @extend .qribbon__pseudo--before-after
    border-top none
    border-bottom $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    right $qribbon-negative-width
    bottom 0

  &::after
    @extend .qribbon__pseudo--before-after
    border-bottom none
    border-top $qribbon-width solid transparent
    border-left $qribbon-width solid var(--qribbon-leaf-color, black)
    right $qribbon-negative-width
    top 0

.qribbon__vertical--top-left,
.qribbon__vertical--bottom-left
  left 0
  right inherit

.qribbon__vertical--bottom-right,
.qribbon__vertical--top-right
  right $qribbon-width*2
  left inherit

.qribbon__vertical--bottom-left,
.qribbon__vertical--bottom-right
  position absolute
  padding 12px 5px
  bottom $qribbon-negative-width
  writing-mode tb
  background var(--qribbon-background-color, black)
  color var(--qribbon-text-color, white)
  z-index 100

.qribbon__vertical--top-left,
.qribbon__vertical--top-right
  position absolute
  padding 12px 5px
  top $qribbon-negative-width
  writing-mode tb
  background var(--qribbon-background-color, black)
  color var(--qribbon-text-color, white)
  z-index 100

.qribbon__vertical--left-full
  @extend .qribbon__vertical--bottom-left, .qribbon__vertical--top-left
  left 0
  right inherit

.qribbon__vertical--right-full
  @extend .qribbon__vertical--bottom-right, .qribbon__vertical--top-right
  right $qribbon-width*2
  left inherit

[class*=vertical--top].decorate-point-in,
[class*=vertical--bottom].decorate-point-in
  &::after
    content ""
    display block
    position absolute
    bottom -12px
    left 0
    right 0
    border-top 12px solid transparent
    border-bottom 12px solid transparent
    border-right 15px solid var(--qribbon-background-color, black)
    border-left 15px solid var(--qribbon-background-color, black)

[class*=vertical--bottom].decorate-point-in
  &::after
    bottom inherit
    top -12px
    border-top 12px solid transparent
    border-bottom 12px solid transparent
    border-right 15px solid var(--qribbon-background-color, black)
    border-left 15px solid var(--qribbon-background-color, black)

[class*=vertical--top].decorate-point-out,
[class*=vertical--bottom].decorate-point-out
  &::after
    content ""
    display block
    position absolute
    top -24px
    left 0
    right 0
    border-top 12px solid transparent
    border-right 15px solid transparent
    border-left 15px solid transparent
    border-bottom 12px solid var(--qribbon-background-color, black)

[class*=vertical--top].decorate-point-out
  &::after
    bottom -24px
    top inherit
    border-bottom 12px solid transparent
    border-right 15px solid transparent
    border-left 15px solid transparent
    border-top 12px solid var(--qribbon-background-color, black)

[class*=horizontal--left].decorate-point-in,
[class*=horizontal--right].decorate-point-in
  &::after
    content ""
    display block
    position absolute
    right -12px
    top 0
    bottom 0
    border-left 12px solid transparent
    border-right 12px solid transparent
    border-top 15px solid var(--qribbon-background-color, black)
    border-bottom 15px solid var(--qribbon-background-color, black)

[class*=horizontal--right].decorate-point-in
  &::after
    right inherit
    left -12px
    border-left 12px solid transparent
    border-right 12px solid transparent
    border-top 15px solid var(--qribbon-background-color, black)
    border-bottom 15px solid var(--qribbon-background-color, black)

[class*=horizontal--left].decorate-point-out,
[class*=horizontal--right].decorate-point-out
  &::after
    content ""
    display block
    position absolute
    bottom 0
    top 0
    right -24px
    border-top 15px solid transparent
    border-bottom 15px solid transparent
    border-right 12px solid transparent
    border-left 12px solid var(--qribbon-background-color, black)

[class*=horizontal--right].decorate-point-out
  &::after
    left -24px
    right inherit
    border-top 15px solid transparent
    border-bottom 15px solid transparent
    border-left 12px solid transparent
    border-right 12px solid var(--qribbon-background-color, black)

[class*=vertical--top].decorate-rounded-in
  padding-bottom 24px
  background radial-gradient(circle at bottom, transparent 15px, var(--qribbon-background-color, black) 16px);

[class*=vertical--bottom].decorate-rounded-in
  padding-top 24px
  background radial-gradient(circle at top, transparent 15px, var(--qribbon-background-color, black) 16px);

[class*=vertical--bottom].decorate-rounded-out
  border-top-left-radius 15px
  border-top-right-radius 15px

[class*=vertical--top].decorate-rounded-out
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px

[class*=horizontal--left].decorate-rounded-in
  padding-right 24px
  background radial-gradient(circle at right, transparent 15px, var(--qribbon-background-color, black) 16px);

[class*=horizontal--right].decorate-rounded-in
  padding-left 24px
  background radial-gradient(circle at left, transparent 15px, var(--qribbon-background-color, black) 16px);

[class*=horizontal--left].decorate-rounded-out
  border-top-right-radius 15px
  border-bottom-right-radius 15px

[class*=horizontal--right].decorate-rounded-out
  border-top-left-radius 15px
  border-bottom-left-radius 15px
