.qribbon
  position absolute
  padding 5px 12px
  left 0
  
  &.left
    margin-left -10px
    
    &::before
      display block
      width 10px
      height 0px
      position absolute
      bottom -10px
      left 0
      content ""
      border-top 10px solid transparent
      border-left 10px solid
      background inherit
      color white
  
  &.right
    margin-right -10px
    right 0
    left inherit
    
    &::before
      display block
      width 10px
      height 0px
      position absolute
      bottom -10px
      right 0
      content ""
      border-top 10px solid transparent
      border-right 10px solid
      background inherit
      color white
  
  &.full
    margin-right -10px
    margin-left -10px
    right 0
    left 0
    
    &::before
      display block
      width 10px
      height 0px
      position absolute
      bottom -10px
      right 0
      content ""
      border-top 10px solid transparent
      border-right 10px solid
      background inherit
      color white
    
    &::after
      display block
      width 10px
      height 0px
      position absolute
      bottom -10px
      left 0
      content ""
      border-top 10px solid transparent
      border-left 10px solid
      background inherit
      color white
