$qribbon-width = 10px
$qribbon-negative-width = -($qribbon-width)
$qribbon-height = 0px

.__base-qribbon-pseudo-before-after
  width $qribbon-width
  height $qribbon-height
  bottom $qribbon-negative-width
  border-top $qribbon-width solid var(--qribbon-leaf-color, black)
  display block
  position absolute
  content ""

.__base-qribbon-pseudo-left
  @extend .__base-qribbon-pseudo-before-after
  border-left $qribbon-width solid transparent
  left 0

.__base-qribbon-pseudo-right
  @extend .__base-qribbon-pseudo-before-after
  border-right $qribbon-width solid transparent
  right 0

.__base-qribbon-left
  margin-left $qribbon-negative-width
  left 0

.__base-qribbon-right
  margin-right $qribbon-negative-width
  right 0

.qribbon-default
  position absolute
  padding 5px 12px
  left 0
  background var(--qribbon-background-color, black)
  color var(--qribbon-text-color, white)
  z-index 100

  &.left
    @extend .__base-qribbon-left

    &::before
      @extend .__base-qribbon-pseudo-left

  &.right
    @extend .__base-qribbon-right
    left inherit

    &::before
      @extend .__base-qribbon-pseudo-right

  &.full
    @extend .__base-qribbon-left, .__base-qribbon-right

    &::before
      @extend .__base-qribbon-pseudo-left

    &::after
      @extend .__base-qribbon-pseudo-right
